{% extends 'base.html.twig' %}

{% block title %}Draft index{% endblock %}

{% block body %}
    <h1>Draft index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Clientname</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for draft in drafts %}
            <tr>
                <td>{{ draft.id }}</td>
                <td>{{ draft.name }}</td>
                <td>{{ draft.clientname }}</td>
                <td>
                    <a href="{{ path('app_draft_show', {'id': draft.id}) }}">show</a>
                    <a href="{{ path('app_draft_edit', {'id': draft.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_draft_new') }}">Create new</a>
{% endblock %}
